html{
    height:100%;
}

body{
    background-image:url(https://i.imgur.com/QMpjxWq.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
}



.col-sm-3{
    color:aliceblue;
    text-align:center;
    top:110px;
}
#demo{
    position:relative center;
    top:100px;
}

.img-fluid{
    display:block;
    margin:auto;
    max-height:100%;
    max-width:100%;
    position:relative;
}
#footer{
    color:antiquewhite;
    width:100%; 
    position:relative ; 
    bottom: 0;
    text-align: center;
}

.carousel-caption{
    background-color:black;
    position:absolute;
    width:500px;
    height:110px;
    display:block;
    border-radius: 10px;
    margin:auto;
    opacity:0.85;
}

.connect_ptt{
    width:100px;
    height: 30px;
    font-size:20px;
    text-align: center;
    border-radius: 10px;
}

#tremble{
    border-style: ridge;
    height:38px;
}

#footer{
    color:antiquewhite;
    width:100%; 
    position: absolute; 
    bottom: 0;
    text-align: center;
}

